<form accept-charset="UTF-8" action="" get="post">
    <label for="query">Search for:</label>
    <input id="query" name="query" type="text">
    <input
        type="submit"
        value="Search"
        name="commit"
        data-turbo-submits-with="Searching.."
    />
</form>
